<% if (currentUser !== undefined) { %>
    <script>
        var currentUser = {
            id: '<%= currentUser.id %>',
            username: '<%= currentUser.username %>',
            email: '<%= currentUser.email %>',
            avatarUrl: '<%= currentUser.avatarUrl %>',
            first_name: '<%= currentUser.first_name %>',
            createdAt: '<%= currentUser.createdAt %>',
            updatedAt: '<%= currentUser.updatedAt %>'
        };
    </script>
<% } %>

<div ng-include="'nav/index.tpl.html'"></div>
<div ui-view="main" style="width:100%;height:100%;margin:0px;margin-top:50px;"></div>
<!--<div ng-include="'footer/index.tpl.html'"></div>-->